.article-tags a[href='/tag/dem/'] {
    background: deeppink;
    color: white;
}

.dark .article-tags a[href='/tag/dem/'] {
    background: deeppink;
    color: white;
}

.gallery a[data-fancybox] img {
    height: 240px;
    max-width: 31%;		
    max-height: 100%;
    display: inherit;
    padding: 4px;
    // flex-grow: 1;
    object-fit: cover;
    margin: 2px;
    // display: flex;
  }

//   .card .card-image {
//     display: block;
//     position: relative;
//     max-height: 200px;
//     max-width: 400px;
//     margin:auto;
//     width: auto;
//     height: auto;
//     }

.article-container {
    max-width: 850px;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    // font-size: 20px;
  }

.alignleft {
    max-width: 48%;
    float: left;
  }

.alignright {
    max-width: 48%;
    float: right;
  }

  .row {
    display: flex;
  }
  
  .column_2 {
    flex: 49%;
    padding: 5px;
  }

.column_3 {
    flex: 33%;
    padding: 5px;
  }