.article-tags a[href='/tag/dem/'] {
    background: deeppink;
    color: white;
}

.dark .article-tags a[href='/tag/dem/'] {
    background: deeppink;
    color: white;
}


.article-tags a[href='/tag/eepa/'] {
    background: #b6c649;
    color: black;
}

.dark .article-tags a[href='/tag/eepa/'] {
    background: #B6C649;
    color: black;
}

.article-tags a[href='/tag/calibration/'] {
    background: #f46036;
    color: white;
}

.dark .article-tags a[href='/tag/calibration/'] {
    background: #f46036;
    color: white;
}

.article-tags a[href='/tag/characterisation/'] {
    background: #485696;
    color: white;
}

.dark .article-tags a[href='/tag/characterisation/'] {
    background: #485696;
    color: white;
}

.article-tags a[href='/tag/Model Driven Design/'] {
    background: #3DFAFF;
    color: black;
}

.dark .article-tags a[href='/tag/Model Driven Design/'] {
    background: #3DFAFF;
    color: black;
}

.article-tags a[href='/tag/MDD/'] {
    background: #3DFAFF;
    color: black;
}

.dark .article-tags a[href='/tag/MDD/'] {
    background: #3DFAFF;
    color: black;
}

.article-tags a[href='/tag/EPT/'] {
    background: #297045;
    color: white;
}

.dark .article-tags a[href='/tag/EPT/'] {
    background: #297045;
    color: white;
}

.article-tags a[href='/tag/UPT/'] {
    background: #297045;
    color: white;
}

.dark .article-tags a[href='/tag/UPT/'] {
    background: #297045;
    color: white;
}

.article-tags a[href='/tag/Uniaxial/'] {
    background: #44633F;
    color: white;
}

.dark .article-tags a[href='/tag/Uniaxial/'] {
    background: #44633F;
    color: white;
}

.article-tags a[href='/tag/Adhesion/'] {
    background: #A63446;
    color: white;
}

.dark .article-tags a[href='/tag/Adhesion/'] {
    background: #A63446;
    color: white;
}

.article-tags a[href='/tag/Cohesion/'] {
    background: #A63446;
    color: white;
}

.dark .article-tags a[href='/tag/Cohesion/'] {
    background: #A63446;
    color: white;
}

.article-tags a[href='/tag/Data/'] {
    background: #3A015C;
    color: white;
}

.dark .article-tags a[href='/tag/Data/'] {
    background: #3A015C;
    color: white;
}

.article-tags a[href='/tag/Data Analytics/'] {
    background: #3A015C;
    color: white;
}

.dark .article-tags a[href='/tag/Data Analytics/'] {
    background: #3A015C;
    color: white;
}


.article-tags a[href='/tag/AI/'] {
    background: #290025;
    color: white;
}

.dark .article-tags a[href='/tag/AI/'] {
    background: #290025;
    color: white;
}

.article-tags a[href='/tag/Deep Learning/'] {
    background: #290025;
    color: white;
}

.dark .article-tags a[href='/tag/Deep Learning/'] {
    background: #290025;
    color: white;
}


.gallery a[data-fancybox] img {
    height: 240px;
    max-width: 31%;		
    max-height: 100%;
    display: inherit;
    padding: 4px;
    // flex-grow: 1;
    object-fit: cover;
    margin: 2px;
    // display: flex;
  }

//   .card .card-image {
//     display: block;
//     position: relative;
//     max-height: 200px;
//     max-width: 400px;
//     margin:auto;
//     width: auto;
//     height: auto;
//     }

.article-container {
    max-width: 850px;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
    // font-size: 20px;
  }

.alignleft {
    max-width: 48%;
    float: left;
  }

.alignright {
    max-width: 48%;
    float: right;
  }

  .row {
    display: flex;
  }
  
  .column_2 {
    flex: 49%;
    padding: 5px;
  }

.column_3 {
    flex: 33%;
    padding: 5px;
  }