.article-tags a[href='/tag/dem/'] {
    background: deeppink;
    color: white;
}

.dark .article-tags a[href='/tag/dem/'] {
    background: deeppink;
    color: white;
}

.gallery a[data-fancybox] img {
    height: 240px;
    max-width: 45%;		
    max-height: 100%;
    display: inherit;
    padding: 4px;
    // flex-grow: 1;
    object-fit: cover;
    margin: 2px;
    // display: flex;
  }

  .card .card-image {
    display: block;
    position: relative;
    max-width: 200px;
    margin:auto;
    }