{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Shinnosuke Ono",
  "url": "https://shinnosukeono.github.io/",
  "jobTitle": "Master's Student in Computer Science",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "University of Tokyo",
    "url": "https://www.u-tokyo.ac.jp/"
  },
  "alumniOf": {
    "@type": "CollegeOrUniversity",
    "name": "University of Tokyo"
  },
  "knowsAbout": [
    "Representation Learning",
    "Multimodal Models",
    "Language Models",
    "Reinforcement Learning",
    "Machine Learning",
    "Computer Science"
  ],
  "sameAs": [
    "https://scholar.google.co.jp/citations?hl=ja&user=J58Z50gAAAAJ",
    "https://github.com/shinnosukeono/",
    "https://www.linkedin.com/in/%E6%96%B0%E4%B9%8B%E4%BB%8B-%E5%B0%8F%E9%87%8E-626881286/",
    "https://x.com/shinnosukeono"
  ]
}
</script>
{{ end }}
