{{- define "main" -}}
{{ $pub_types := partial "functions/get_pub_types" $ }}
{{ $pub_type_param := .Params.publication_types | default (slice 0) }}

{{/* Convert string in form `"0"` to int (`0`) */}}
{{ $pub_type := (int (index $pub_type_param 0)) | default 0 }}

{{/* Validate Pub Type if defined */}}
{{ if gt $pub_type (sub (len $pub_types) 1) }}
  {{ warnf "Unknown publication type in %s" .Path }}
  {{ $pub_type = 0 }}
{{ end }}

<div class="pub">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{/* If the type is Uncategorized, hide the type. */}}
    {{ if ne $pub_type 0 }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication_type" }}</div>
          <div class="col-12 col-md-9">
            <a href="{{ (site.GetPage "section" "publication").RelPermalink }}#{{ $pub_type | anchorize }}">
              {{ index $pub_types $pub_type }}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.publication }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "publication" }}</div>
          {{if eq $pub_type 1 }}
            <div class="col-12 col-md-9">In: {{ .Params.publication | markdownify }}</div>
          {{else if eq $pub_type 6  }}
            <div class="col-12 col-md-9">In: {{ .Params.publication | markdownify }}</div>
          {{else if eq $pub_type 10 }}
            <div class="col-12 col-md-9">Presented at: {{ .Params.publication | markdownify }}</div>
          {{ else }}
            <div class="col-12 col-md-9">{{ .Params.publication | markdownify }}</div>
          {{ end }}
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.location }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          {{if eq $pub_type 7  }}
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "university" }}</div>
          {{ else }}
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "location" }}</div>
          {{ end }}
          <div class="col-12 col-md-9">{{ .Params.location | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.volume }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "volume" }}</div>
          <div class="col-12 col-md-9">{{ .Params.volume | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.issue }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "issue" }}</div>
          <div class="col-12 col-md-9">{{ .Params.issue | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.article }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "article" }}</div>
          <div class="col-12 col-md-9">{{ .Params.article | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{if eq $pub_type 5 }}
    {{ if .Params.isbn }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "btn_isbn" }}</div>
          <div class="col-12 col-md-9">{{ .Params.isbn | markdownify }}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}
    {{ end }}


    {{ if and .Params.page_start .Params.page_end }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "pages" }}</div>
          <div class="col-12 col-md-9">{{- .Params.page_start | markdownify -}}-{{- .Params.page_end | markdownify -}}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.pages }}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-12 col-md-3 pub-row-heading">{{ i18n "pages" }}</div>
          <div class="col-12 col-md-9">{{- .Params.pages | markdownify -}}</div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="d-md-none space-below"></div>
    {{ end }}

    {{ if .Params.abstract }}
    <h3>{{ i18n "abstract" }}</h3>
    <p class="pub-abstract">{{ .Params.abstract | markdownify }}</p>
    {{ end }}

    <div class="space-below"></div>


    {{ if and .Params.add_badge .Params.doi }}
    <h3>Publication Metrics </h3>
    <div style="min-height: 90px; height: auto;">
      <div style="float: left; min-width: 150px; width: auto;">
        <div class="__dimensions_badge_embed__" data-doi="{{ .Params.doi }}" data-legend="always" data-style="small_circle" data-hide-zero-citations="true"></div>
      </div>
      <div style="float: left; width: 150px;">
        <div data-badge-popover="bottom" data-badge-type="donut" data-doi="{{ .Params.doi }}" data-condensed="true" data-hide-no-mentions="true" class="altmetric-embed"></div>
      </div>
      <div style="float: left; width: 150px;">
        <a href={{ print "https://plu.mx/plum/a/?doi=" .Params.doi }} data-popup="bottom" data-size="medium" class="plumx-plum-print-popup plum-bigben-theme" data-site="plum" data-hide-when-empty="true" data-pass-hidden-categories="true"></a>
      </div>
    </div>
    {{ end }}

    <div class="space-below"></div>

    <div class="article-style" style="clear: both;">{{ .Content }}</div>

    {{ partial "page_footer" . }}

  </div>
</div>
{{- end -}}